---
import images from '../components/js/lightbox.json';
---

<div class="flex-column pb-2">    
    <div class="image-gallery">
        <div class="left-column">
        <div class="component-title-wrapper">
            <div class="component-line"></div>
            <h2>Success Stories</h2>
            <div class="component-line"></div>
        </div>
        <p>Inspirado Marketing is dedicated to connecting with businesses and facilitating their community marketing initiatives. 
        By leveraging our expertise in community outreach and brand development, we have successfully partnered with companies like <span class="text-hightlight"><a href="https://www.stacked.ie/" target="_blank">Sweetgreen</a></span>, <span class="text-hightlight">Stack</span>, and <span class="text-hightlight">Sports Physio</span>.These collaborations have resulted in impactful campaigns that enhanced their visibility and growth potential within their communities.</p>

        {images[0] && (    
        <a href="https://www.sweetgreen.com/" target="_blank" role="button" target="_blank" data-lightbox="image-gallery">
        <img src={images[0].src} alt={images[0].alt} class="banner-image"/>
        <div class="overlay"><h3>SWEET GREENS</h3></div>
        </a>
         )}
        </div>

    <div class="right-column pt-4">
        {images[1] && (
            <a href="https://www.stacked.ie/" target="_blank" role="button" data-lightbox="image-gallery">
            <img src={images[1].src} alt={images[1].alt} class="banner-image"/>
            <div class="overlay"><h3>STACK</h3></div>
            </a>
        )}

        {images[2] && (
            <a href="https://sportsphysio.ie/" target="_blank" role="button" data-lightbox="image-gallery">
            <img src={images[2].src} alt={images[2].alt} class="banner-image"/>
            <div class="overlay"><h3>SPORTS PHYSIO IRELAND</h3></div>
            </a>
        )}  
        </div>
    </div>
</div>

